- html_classes = ["well", "card"]
- html_classes << "hidden" unless show

%div{:class => html_classes}
  #{card.word} (<i>#{card.word_type}</i>)
  - unless Dictionaries.dictionaries.empty?
    %a.pull-right{:href => '#', :data => {:pronounce => card.word}}
      %i.fa.fa-volume-up
