.header-container
  %span.h1 TODOS
  %a.btn.btn-default.pull-right{:href => new_todo_path}
    %i.glyphicon.glyphicon-plus

%ul
  - @todos.each do |todo|
    %li #{todo.word} (#{link_to("New Card", new_card_from_todo_path(todo))}, #{link_to("Edit", edit_todo_path(todo))}, #{link_to "Delete", todo, :method => :delete, "data-confirm" => "Are you sure?"})
