.header-container
  %span.h1 Cards
  %a.btn.btn-default.pull-right{:href => new_card_path}
    %i.fa.fa-plus

%ul
  - @cards.each do |card|
    %li #{link_to(card.word, card)} (#{link_to("Edit", edit_card_path(card))})
