= stylesheet_link_tag 'cards/show', media: 'all'

%div.header-container
  %span.h1 Card
  %a.btn.btn-default.pull-right{:href => edit_card_path(@card), :title => "Edit"}
    %i.fa.fa-edit

= render @card
