%h1 Cards
- @order ||= [:word, :definition, :sentence].shuffle
- @order.each_with_index do |sym, idx|
  = render "partials/cards/show/#{sym}.html.haml", :idx => idx

%a.btn.btn-primary#show-hint-btn{:href => "#"} Show Hint
%a.btn.btn-default{:href => edit_card_path(@card)} Edit
%a.btn.btn-success#thumbs-up-btn{:href => "#", :data => {:card_id => @card.id}} Thumbs Up
%a.btn.btn-danger#thumbs-down-btn{:href => "#", :data => {:card_id => @card.id}} Thumbs Down
