%h1= @deck.title

%a.btn.btn-default{:href => random_path(@deck.title)} Randomize this Deck

- @deck.cards.each do |card|
  - [:word, :definition, :sentence].each do |sym|
    = render :partial => "partials/cards/show/#{sym}", :locals => {:card => card, :show => true} unless card.send(sym).empty?
  - unless card == @deck.cards.last
    %hr
