%h1= @deck.title

%a.btn.btn-primary{:href => random_path(@deck.title)} Randomize this Deck
%a.btn.btn-default{:href => edit_deck_path(@deck)} Edit Deck

- order = [:word, :definition, :sentence]
- @deck.cards.each do |card|
  = render :partial => "partials/cards/card", :locals => {:card => card, :show_all => true, :order => order}
  - unless card == @deck.cards.last
    %hr
